<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haifeng.basedata.mapper.BaseBatchAttributeMapper">

    <resultMap id="BaseResultMap" type="com.haifeng.basedata.domain.BaseBatchAttribute">
            <id property="id" column="id" />
            <result property="attrCode" column="attr_code" />
            <result property="attrIndex" column="attr_index" />
            <result property="attrType" column="attr_type" />
            <result property="attrEnum" column="attr_enum" />
            <result property="attrRequired" column="attr_required" />
            <result property="status" column="status" />
            <result property="delFlag" column="del_flag" />
            <result property="createBy" column="create_by" />
            <result property="createTime" column="create_time" />
            <result property="updateBy" column="update_by" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,attr_code,attr_index,attr_type,attr_enum,attr_required,
        status,del_flag,create_by,create_time,update_by,
        update_time
    </sql>
</mapper>
